# ------------------------
# Node / React
# ------------------------
node_modules/
build/
dist/
.env
.DS_Store

# ------------------------
# R Backend
# ------------------------
*.Rhistory
*.RData
*.rds
*.Rproj.user

# Ignore everything inside datasets but keep the folder
R-backend/datasets/*
!R-backend/datasets/.gitkeep

# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# Logs and temporary files
# ------------------------
*.log
*.tmp
